# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# macOS files
.DS_Store
*.pem

# node dependencies
/node_modules

# pnpm dependencies
/.pnpm
/.pnpm-store
.pnpm-lock.yaml
.pnpm-workspace.yaml

# test dependencies
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env.local
.env

# terraform
.terraform

# prisma
prisma/migrations

# vscode
.vscode
